<a href="https://colab.research.google.com/github/huongd17at089/income_prediction/blob/master/TT_VNPT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/TT_VNPT/processed_data.csv')

df.head()

# df = pd.get_dummies(df, columns=['age', 'workclass','education','educational.num','marital.status','race','gender','hours.per.week','income'])
# d = {'<=50k': 0, '>50k': 1}

           age  workclass     education  ...  gender hours.per.week income
0  16.0 - 25.0    Private          11th  ...    Male    36.0 - 40.0  <=50K
1  35.0 - 40.0    Private       HS-grad  ...    Male    40.0 - 50.0  <=50K
2  25.0 - 31.0  Local-gov    Assoc-acdm  ...    Male    36.0 - 40.0   >50K
3  40.0 - 45.0    Private  Some-college  ...    Male    36.0 - 40.0   >50K
4  31.0 - 35.0    Private          10th  ...    Male     0.0 - 36.0  <=50K

[5 rows x 9 columns]

In [ ]:
df.head()

   age_16.0 - 25.0  age_25.0 - 31.0  ...  income_<=50K  income_>50K
0                1                0  ...             1            0
1                0                0  ...             1            0
2                0                1  ...             0            1
3                0                0  ...             0            1
4                0                0  ...             1            0

[5 rows x 67 columns]

In [ ]:
df.pop('income_<=50K')

0        1
1        1
2        0
3        0
4        1
        ..
26919    1
26920    1
26921    1
26922    1
26923    0
Name: income_<=50K, Length: 26924, dtype: uint8

In [ ]:
df.head()

   age_16.0 - 25.0  age_25.0 - 31.0  ...  hours.per.week_50.0 - 99.0  income_>50K
0                1                0  ...                           0            0
1                0                0  ...                           0            0
2                0                1  ...                           0            1
3                0                0  ...                           0            1
4                0                0  ...                           0            0

[5 rows x 66 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/TT_VNPT/binary.csv')

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/TT_VNPT/binary.csv')

df1.head()

   1  2  3  4  5  6  7  8  9  10  ...  57  58  59  60  61  62  63  64  65  output
0  1  0  0  0  0  0  0  0  0   0  ...   1   0   0   0   1   0   1   0   0       0
1  0  0  0  1  0  0  0  0  0   0  ...   0   0   1   0   1   0   0   1   0       0
2  0  1  0  0  0  0  0  0  0   1  ...   0   0   1   0   1   0   1   0   0       1
3  0  0  0  0  1  0  0  0  0   0  ...   1   0   0   0   1   0   1   0   0       1
4  0  0  1  0  0  0  0  0  0   0  ...   0   0   1   0   1   1   0   0   0       0

[5 rows x 66 columns]

In [ ]:
import csv
data=[]
with open('/content/drive/MyDrive/TT_VNPT/processed_data.csv', 'r') as file:
    reader = csv.reader(file)
    data=list(reader)
print(data[0])

['age', 'workclass', 'education', 'educational.num', 'marital.status', 'race', 'gender', 'hours.per.week', 'income']

In [ ]:
df.head()

           age  workclass     education  ...  gender hours.per.week income
0  16.0 - 25.0    Private          11th  ...    Male    36.0 - 40.0  <=50K
1  35.0 - 40.0    Private       HS-grad  ...    Male    40.0 - 50.0  <=50K
2  25.0 - 31.0  Local-gov    Assoc-acdm  ...    Male    36.0 - 40.0   >50K
3  40.0 - 45.0    Private  Some-college  ...    Male    36.0 - 40.0   >50K
4  31.0 - 35.0    Private          10th  ...    Male     0.0 - 36.0  <=50K

[5 rows x 9 columns]

In [ ]:

from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score

In [ ]:
X=df1[['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65']].values
Y=df1[['output']].values
label_encoder = LabelEncoder()
Y = label_encoder.fit_transform(Y)
X = StandardScaler().fit_transform(X)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# with preprocessing
X=df[['age', 'workclass', 'education', 'educational.num', 'marital.status', 'race', 'gender', 'hours.per.week', 'income']].values
Y=df[['income']].values
# label_encoder = LabelEncoder()
# Y = label_encoder.fit_transform(Y)
# X = StandardScaler().fit_transform(X)

In [ ]:
x_train, x_test, y_train , y_test = train_test_split(X, Y, test_size = 0.3, stratify=Y, random_state=6)

# svc = SVC(gamma="scale")
# svc.fit(x_train, y_train)

#kernel RBF
svc = SVC(C=1.0, kernel='rbf').fit(x_train,y_train)
y_predict = svc.predict(x_test)

report = classification_report(y_test, y_predict)
print(report)
print("f1 = " , f1_score(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.83      0.92      0.88      5943
           1       0.69      0.49      0.57      2135

    accuracy                           0.81      8078
   macro avg       0.76      0.70      0.72      8078
weighted avg       0.80      0.81      0.80      8078

f1 =  0.5717427157778999

In [ ]:
#kernel linear
svc = SVC(C=1.0, kernel='linear').fit(x_train,y_train)
y_predict = svc.predict(x_test)

report = classification_report(y_test, y_predict)
print(report)
print("f1 = " , f1_score(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.84      0.91      0.88      5943
           1       0.69      0.52      0.59      2135

    accuracy                           0.81      8078
   macro avg       0.76      0.72      0.74      8078
weighted avg       0.80      0.81      0.80      8078

f1 =  0.5941489361702128

In [ ]:
#kernel linear
svc = SVC(C=1.3, kernel='linear').fit(x_train,y_train)
y_predict = svc.predict(x_test)

report = classification_report(y_test, y_predict)
print(report)
print("f1 = " , f1_score(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.84      0.92      0.88      5943
           1       0.69      0.52      0.59      2135

    accuracy                           0.81      8078
   macro avg       0.77      0.72      0.74      8078
weighted avg       0.80      0.81      0.80      8078

f1 =  0.5930666666666666

In [ ]:
#kernel poly
svc = SVC(C=1.0, kernel='poly').fit(x_train,y_train)
y_predict = svc.predict(x_test)

report = classification_report(y_test, y_predict)
print(report)
print("f1 = " , f1_score(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.83      0.93      0.87      5943
           1       0.70      0.45      0.55      2135

    accuracy                           0.80      8078
   macro avg       0.76      0.69      0.71      8078
weighted avg       0.79      0.80      0.79      8078

f1 =  0.5500425290615253

In [ ]:
#kernel sigmoid
svc = SVC(C=1.0, kernel='sigmoid').fit(x_train,y_train)
y_predict = svc.predict(x_test)

report = classification_report(y_test, y_predict)
print(report)
print("f1 = " , f1_score(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.82      0.84      0.83      5943
           1       0.53      0.49      0.51      2135

    accuracy                           0.75      8078
   macro avg       0.68      0.67      0.67      8078
weighted avg       0.75      0.75      0.75      8078

f1 =  0.5121241513094084